@model BankFormModel

@{
    ViewBag.Title = "Add bank";
}

<link rel="stylesheet" href="~/css/nomenclatures..css" />

<div class="addBankContainer">
    <form asp-action="Add" asp-controller="Bank" id="addBankForm">
        <div>
            <div>
                <label asp-for="Name">Bank name</label>
                <input asp-for="Name" />
            </div>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <div>
                <label asp-for="AddressId">Select address</label>
                <select asp-for="AddressId">
                    <option disabled selected value="">Select address...</option>
                    @foreach (AddressViewModel address in Model.Addresses)
                    {
                        var addressVar = $"{address.TownName} {address.StreetName} "
                        + $"{address.StreetNumber}";
                        <option value="@address.Id">@addressVar</option>
                    }
                </select>
            </div>
            <span asp-validation-for="AddressId"></span>
        </div>
        <button type="submit" id="addBankBtn">Add Bank</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
