@model BankDeleteFormModel

@{
    ViewBag.Title = "Delete bank";
}

<div class="deleteBankContainer">
    <form asp-action="Delete"
          asp-controller="Bank"
          id="deleteBankForm"
          method="post"
          asp-route-id="@Model.Id">
        <div class="deleteBankInfoContainer">
            <label asp-for="Name">Bank name</label>
            <h4>@Model.Name</h4>
        </div>
        <div class="deleteBankInfoContainer">
            <label asp-for="Address">Bank address</label>
            <h4>@Model.Address</h4>
        </div>

        <div class="submitBankDeleteBtnContainer">
            <button type="submit">Delete Bank</button>
        </div>
    </form>
</div>