@model BankDetailsViewModel

@{
    ViewBag.Title = "Bank Details";
}

<div class="bankDetailsContainer">
    <div class="bankDetailsDiv">
        <label asp-for="Name">Bank name</label>
        <h4>@Model.Name</h4>
    </div>

    <div class="bankDetailsDiv">
        <label asp-for="Address">Bank address</label>
        <h4>@Model.Address</h4>
    </div>

    <div id="detailsBankBtns">
        <a asp-controller="Bank" asp-action="All" id="backToAllBanksBtn">
            Back to all banks
        </a>

        <a asp-controller="Home" asp-action="Index" id="homePageInBanksBtn">
            Home page
        </a>
    </div>
</div>
