@model BankDetailsViewModel

@{
    ViewBag.Title = "Bank Details";
}

<link rel="stylesheet" href="~/css/nomenclatures..css" />

<div class="bankDetailsContainer">
    <div>
        <label asp-for="Name">Bank name</label>
        <h4>@Model.Name</h4>
    </div>

    <div>
        <label asp-for="Address">Bank address</label>
        <h4>@Model.Address</h4>
    </div>

    <a asp-controller="Bank" asp-action="All">
        Back to all banks
    </a>

    <a asp-controller="Home" asp-action="Index">
        Home page
    </a>
</div>
