@model BankFormModel

@{
    ViewBag.Title = "Edit bank";
}

<div class="editBankContainer">
    <form asp-action="Edit" asp-controller="Bank" id="editBankForm">
        <div>
            <div>
                <label asp-for="Name">Bank name</label>
                <input asp-for="Name" value="@Model.Name" />
            </div>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <div>
                <label asp-for="AddressId">Select address</label>
                <select asp-for="AddressId">
                    <option disabled selected value="">Select Address...</option>
                    @foreach (AddressViewModel address in Model.Addresses)
                    {
                        var addressVal = $"{address.TownName} {address.StreetName}" +
                        $" {address.StreetNumber}";

                        <option value="@address.Id">@addressVal</option>
                    }
                </select>
            </div>
            <span asp-validation-for="AddressId"></span>
        </div>
        <button type="submit" id="editBankBtn">Edit Bank</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}