@inject IUserService service

@{
    bool isLoggedIn = false;
    string role = string.Empty;

    if (User?.Identity?.IsAuthenticated ?? false)
    {
        if (!await service.IsInRoleAsync(new string[] { "User" }, User.Id()))
        {
            var user = await this.service.FindUserByIdAsync(User.Id());
            await service.AddUserToRoleAsync(user, "User");
            role = "User";
        }
        else if (await service.IsInRoleAsync(new string[] { "Admin" }, User.Id()))
        {
            role = "Admin";
        }
        else if (await service.IsInRoleAsync(new string[] { "Worker" }, User.Id()))
        {
            role = "Worker";
        }
        else
        {
            role = "User";
        }
        isLoggedIn = true;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarketVault</title>
    <link rel="icon" type="image/x-icon" href="~/marketvault_logo.png" />
    <link rel="stylesheet" href="~/css/nomenclatures.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/errors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/welcome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/searchPanel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/faq.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
</head>
<body>
    <header class="layoutHeader">
        <nav>
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index"></a>
                <div>
                    <ul class="linksUl">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-area=""
                               asp-controller="Home" asp-action="FAQ">FAQ</a>
                        </li>
                        @if (isLoggedIn)
                        {
                            if (role == "Admin")
                            {
                                <a asp-area="Admin"
                                   asp-action="Index"
                                   asp-controller="Admin">
                                    Admin Area
                                </a>

                                <li>
                                    <select id="selectOption">
                                        <option disabled selected value="">Nomenclatures</option>
                                        <option value="Option1">Products</option>
                                        <option value="Option2">Counter Parties</option>
                                        <option value="Option3">Item Groups</option>
                                        <option value="Option4">Firms</option>
                                        <option value="Option5">Banks</option>
                                        <option value="Option6">Addresses</option>
                                    </select>
                                </li>
                                <li>
                                    <select id="selectOption2">
                                        <option disabled selected value="">Add Nomenclature</option>
                                        <option value="Option1">Add a product</option>
                                        <option value="Option2">Add a counter party</option>
                                        <option value="Option3">Add an item group</option>
                                        <option value="Option4">Add a firm</option>
                                        <option value="Option5">Add a bank</option>
                                        <option value="Option6">Add an address</option>
                                    </select>
                                </li>

                                <li>
                                    <select id="selectOption3">
                                        <option disabled selected value="">Operations</option>
                                        <option value="Option1">Add operation</option>
                                        <option value="Option2">Your operations</option>
                                    </select>
                                </li>
                            }
                            else if (role == "Worker")
                            {
                                <li>
                                    <select id="selectOption">
                                        <option disabled selected value="">Nomenclatures</option>
                                        <option value="Option1">Products</option>
                                        <option value="Option2">Counter Parties</option>
                                        <option value="Option3">Item Groups</option>
                                        <option value="Option4">Firms</option>
                                        <option value="Option5">Banks</option>
                                        <option value="Option6">Addresses</option>
                                    </select>
                                </li>
                                <li>
                                    <select id="selectOption2">
                                        <option disabled selected value="">Add Nomenclature</option>
                                        <option value="Option1">Add a product</option>
                                        <option value="Option2">Add a counter party</option>
                                        <option value="Option3">Add an item group</option>
                                        <option value="Option4">Add a firm</option>
                                        <option value="Option5">Add a bank</option>
                                        <option value="Option6">Add an address</option>
                                    </select>
                                </li>

                                <li>
                                    <select id="selectOption3">
                                        <option disabled selected value="">Operations</option>
                                        <option value="Option1">Add operation</option>
                                        <option value="Option2">Your operations</option>
                                    </select>
                                </li>

                            }
                            else
                            {
                                <li>
                                    <select id="selectOption">
                                        <option disabled selected value="">Nomenclatures</option>
                                        <option value="Option1">Products</option>
                                        <option value="Option2">Counter Parties</option>
                                        <option value="Option3">Item Groups</option>
                                    </select>
                                </li>
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    document.getElementById("selectOption").addEventListener("change", function () {
        var optionValue = this.value;
        if (optionValue === "Option1") {
            window.location.href = "/Product/All";
        } else if (optionValue === "Option2") {
            window.location.href = "/CounterParty/All";
        } else if (optionValue === "Option3") {
            window.location.href = "/ItemGroup/All";
        } else if (optionValue === "Option4") {
            window.location.href = "/Firm/All";
        } else if (optionValue === "Option5") {
            window.location.href = "/Bank/All";
        } else if (optionValue === "Option6") {
            window.location.href = "/Address/All";
        }
    });

    if (document.getElementById("selectOption2") != undefined) { 
        document.getElementById("selectOption2").addEventListener("change", function () {
            var optionValue = this.value;
            if (optionValue === "Option1") {
                window.location.href = "/Product/Add";
            } else if (optionValue === "Option2") {
                window.location.href = "/CounterParty/Add";
            } else if (optionValue === "Option3") {
                window.location.href = "/ItemGroup/Add";
            } else if (optionValue === "Option4") {
                window.location.href = "/Firm/Add";
            } else if (optionValue === "Option5") {
                window.location.href = "/Bank/Add";
            } else if (optionValue === "Option6") {
                window.location.href = "/Address/Add";
            }
        });
    }

    if (document.getElementById("selectOption3") != undefined) {
        document.getElementById("selectOption3").addEventListener("change", function () {
            var optionValue = this.value;
            if (optionValue === "Option1") {
                window.location.href = "/Operation/New";
            } else if (optionValue === "Option2") {
                window.location.href = "/Operation/GetYourOperations";
            }
        });
    }
</script>
