@inject IUserService service

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarketVault</title>
    <link rel="stylesheet" href="~/css/nomenclatures.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/errors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/welcome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/searchPanel.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MarketVault</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <select id="selectOption" class="nav-link text-dark">
                                <option disabled selected value="">Nomenclatures</option>
                                <option value="Option1">Products</option>
                                <option value="Option2">Counter Parties</option>
                                <option value="Option3">Item Groups</option>
                                <option value="Option4">Firms</option>
                                <option value="Option5">Banks</option>
                                <option value="Option6">Addresses</option>
                            </select>
                        </li>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            if (await service.IsInRoleAsync(new string[] { "Admin", "Worker" },
                            User.Id()))
                            {
                                <li class="nav-item">
                                    <select id="selectOption2" class="nav-link text-dark">
                                        <option disabled selected value="">Add Nomenclature</option>
                                        <option value="Option1">Add a product</option>
                                        <option value="Option2">Add a counter party</option>
                                        <option value="Option3">Add an item group</option>
                                        <option value="Option4">Add a firm</option>
                                        <option value="Option5">Add a bank</option>
                                        <option value="Option6">Add an address</option>
                                    </select>
                                </li>
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    document.getElementById("selectOption").addEventListener("change", function () {
        var optionValue = this.value;
        if (optionValue === "Option1") {
            window.location.href = "/Product/All";
        } else if (optionValue === "Option2") {
            window.location.href = "/CounterParty/All";
        } else if (optionValue === "Option3") {
            window.location.href = "/ItemGroup/All";
        } else if (optionValue === "Option4") {
            window.location.href = "/Firm/All";
        } else if (optionValue === "Option5") {
            window.location.href = "/Bank/All";
        } else if (optionValue === "Option6") {
            window.location.href = "/Address/All";
        }
    });

    document.getElementById("selectOption2").addEventListener("change", function () {
        var optionValue = this.value;
        if (optionValue === "Option1") {
            window.location.href = "/Product/Add";
        } else if (optionValue === "Option2") {
            window.location.href = "/CounterParty/Add";
        } else if (optionValue === "Option3") {
            window.location.href = "/ItemGroup/Add";
        } else if (optionValue === "Option4") {
            window.location.href = "/Firm/Add";
        } else if (optionValue === "Option5") {
            window.location.href = "/Bank/Add";
        } else if (optionValue === "Option6") {
            window.location.href = "/Address/Add";
        }
    });
</script>
