@model SearchModel

<link rel="stylesheet" href="~/css/searchPanel.css" />

<div class="searchBankPanel">
    <form method="get"
          asp-action="SearchBanks"
          asp-controller="Bank"
          id="searchBankForm">

        <input type="text" placeholder="Search bank(s)..."
               asp-for="Query"
               name="searchQuery"
               id="searcherInput" />

        <select asp-for="SortingType"
                name="searchSortType"
                id="searcherSelect">

            <option disabled selected value="">Search with...</option>
            <option>Name</option>
            <option>Address</option>

        </select>

        <input type="hidden"
               asp-for="ViewName"
               name="searchViewName"
               value="@Model.ViewName" />

        <input id="searchBankBtn" type="submit" value="Search" />
    </form>
</div>
