@model SearchModel

<link rel="stylesheet" href="~/css/searchPanel.css" />

<div class="searchProductPanel">
    <form method="get"
          asp-action="SearchProducts"
          asp-controller="Product"
          id="searchProductForm">
          
        <input type="text" placeholder="Search product(s)..." 
            asp-for="Query" 
            name="searchQuery"
            id="searcherInput"/>

        <select 
            asp-for="SortingType" 
            name="searchSortType"
            id="searcherSelect">

            <option disabled selected value="">Search with...</option>
            <option>Name</option>
            <option>Cash Register Name</option>
            <option>Article Number</option>
            <option>Nomenclature Number</option>
            <option>Sale Price</option>
            <option>Purchase Price</option>
            <option>Item Group Name</option>
            <option>Measure Type</option>

        </select>

        <input type="hidden" 
            asp-for="ViewName" 
            name="searchViewName" 
            value="@Model.ViewName"/>

        <input id="searchProductBtn" type="submit" value="Search"/>
    </form>
</div>