@model SearchModel

<div class="searchBankPanel">
    <form method="get"
          asp-action="SearchBanks"
          asp-controller="Bank"
          id="searchBankForm">

        <input type="text" placeholder="Search bank(s)..."
               asp-for="Query"
               name="searchQuery"
               id="searcherInput" 
               onchange="toggleSearchButton()"/>

        <select asp-for="SortingType"
                name="searchSortType"
                id="searcherSelect" 
                onchange="toggleSearchButton()">

            <option disabled selected value="">Search with...</option>
            <option>Name</option>
            <option>Address</option>

        </select>

        <input type="hidden"
               asp-for="ViewName"
               name="searchViewName"
               value="@Model.ViewName" />

        <input id="searchBankBtn" type="submit" value="Search" disabled/>
    </form>
</div>

<script>
    function toggleSearchButton(){
        const searchQuery = document.getElementById('searcherInput');
        const searchSelect = document.getElementById('searcherSelect');
        const searchBtn = document.getElementById('searchBankBtn');

        if (searchQuery.value != '' && searchSelect.value != '') {
            searchBtn.disabled = false;
        }else{
            searchBtn.disabled = true;
        }
    }
</script>

