@model SearchModel

<div class="searchFirmPanel">
    <form method="get"
          asp-action="SearchFirms"
          asp-controller="Firm"
          id="searchFirmForm">

        <input type="text" placeholder="Search firm(s)..."
               asp-for="Query"
               name="searchQuery"
               id="searcherInput" 
               onchange="toggleSearchButton()" />

        <select asp-for="SortingType"
                name="searchSortType"
                id="searcherSelect"
                onchange="toggleSearchButton()" >

            <option disabled selected value="">Search with...</option>
            <option>Name</option>
            <option>Phone Number</option>
            <option>Email</option>
            <option>Responsible Person Name</option>
            <option>Address</option>

        </select>

        <input type="hidden"
               asp-for="ViewName"
               name="searchViewName"
               value="@Model.ViewName" />

        <input id="searchFirmBtn" type="submit" value="Search" />
    </form>
</div>

<script>
    const searchBtn = document.getElementById('searchFirmBtn');
    const searchQuery = document.getElementById('searcherInput');
    const searchSelect = document.getElementById('searcherSelect');

    if (searchQuery.value != '' && searchSelect.value != '') {
        searchBtn.disabled = false;
    } else {
        searchBtn.disabled = true;
    }

    function toggleSearchButton() {
        if (searchQuery.value != '' && searchSelect.value != '') {
            searchBtn.disabled = false;
        } else {
            searchBtn.disabled = true;
        }
    }
</script>
