@model SearchModel

<div class="searchItemGroupPanel">
    <form method="get"
          asp-action="SearchItemGroups"
          asp-controller="ItemGroup"
          id="searchItemGroupForm">

        <input type="text" placeholder="Search item group(s)..."
               asp-for="Query"
               name="searchQuery"
               id="searcherInput"
               onchange="toggleSearchButton()" />

        <select asp-for="SortingType"
                name="searchSortType"
                id="searcherSelect"
                onchange="toggleSearchButton()" >

            <option disabled selected value="">Search with...</option>
            <option>Name</option>
            <option>
                Minimum Number of Products in Item Group
            </option>

        </select>

        <input type="hidden"
               asp-for="ViewName"
               name="searchViewName"
               value="@Model.ViewName" />

        <input id="searchItemGroupBtn" type="submit" value="Search" />
    </form>
</div>

<script>
    const searchBtn = document.getElementById('searchItemGroupBtn');
    const searchQuery = document.getElementById('searcherInput');
    const searchSelect = document.getElementById('searcherSelect');

    if (searchQuery.value != '' && searchSelect.value != '') {
        searchBtn.disabled = false;
    } else {
        searchBtn.disabled = true;
    }

    function toggleSearchButton() {
        if (searchQuery.value != '' && searchSelect.value != '') {
            searchBtn.disabled = false;
        } else {
            searchBtn.disabled = true;
        }
    }
</script>