@model SearchModel

<div class="searchAddressPanel">
    <form method="get"
          asp-action="SearchAddresses"
          asp-controller="Address"
          id="searchAddressForm">

        <input type="text" placeholder="Search address(es)..."
               asp-for="Query"
               name="searchQuery"
               id="searcherInput" 
               onchange="toggleSearchButton()" />

        <select asp-for="SortingType"
                name="searchSortType"
                id="searcherSelect"
                onchange="toggleSearchButton()" >

            <option disabled selected value="">Search with...</option>
            <option>Town Name</option>
            <option>Street Number</option>
            <option>Street Name</option>

        </select>

        <input type="hidden"
               asp-for="ViewName"
               name="searchViewName"
               value="@Model.ViewName" />

        <input id="searchAddressBtn" type="submit" value="Search" />
    </form>
</div>

<script>
    const searchBtn = document.getElementById('searchAddressBtn');
    const searchQuery = document.getElementById('searcherInput');
    const searchSelect = document.getElementById('searcherSelect');

    if (searchQuery.value != '' && searchSelect.value != '') {
        searchBtn.disabled = false;
    } else {
        searchBtn.disabled = true;
    }

    function toggleSearchButton() {
        if (searchQuery.value != '' && searchSelect.value != '') {
            searchBtn.disabled = false;
        } else {
            searchBtn.disabled = true;
        }
    }
</script>