@model SearchModel

<div class="searchFirmPanel">
    <form method="get"
          asp-action="SearchFirms"
          asp-controller="Firm"
          id="searchFirmForm">

        <input type="text" placeholder="Search firm(s)..."
               asp-for="Query"
               name="searchQuery"
               id="searcherInput" />

        <select asp-for="SortingType"
                name="searchSortType"
                id="searcherSelect">

            <option disabled selected value="">Search with...</option>
            <option>Name</option>
            <option>Phone Number</option>
            <option>Email</option>
            <option>Responsible Person Name</option>
            <option>Address</option>

        </select>

        <input type="hidden"
               asp-for="ViewName"
               name="searchViewName"
               value="@Model.ViewName" />

        <input id="searchFirmBtn" type="submit" value="Search" />
    </form>
</div>
