@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "All products";
}

@foreach(ProductViewModel product in Model)
{
    <div>
        <p>
            @product.Name
        </p>
        <p>
            @product.CashRegisterName
        </p>
    </div>
}