@{
    ViewBag.Title = "Admin area";
}

<h3 class="adminTitle">This area is for administrators! Welcome, admin!</h3>

<svg width="100%" height="100%" viewBox="0 0 400 200">
    <image xlink:href="/welcome.jpg" width="400" height="200" x="0" y="0" />
</svg>