@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

.productsContainer{
    display: flex;
    flex-direction: column;
}

.productContainer .productComponentContainer div{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.productContainer .productComponentContainer div p{
    width: 20%;
}

/* Counter party */

.addCounterPartyContainer {
    background: hsla(205, 43%, 80%, 1);
    background: linear-gradient(180deg, hsla(205, 43%, 80%, 1) 0%, hsla(231, 75%, 87%, 1) 89%, hsla(240, 100%, 90%, 1) 100%);
    padding: 48px;
    border-radius: 12px;
    height: 100%;
    margin-top: 4.809%;
    -webkit-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
}

.addCounterPartyContainer form {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 4px;
    text-align: right;
}

.addCounterPartyContainer span {
    color: #c90016;
    text-align: center;
    margin-top: 12px;
}

.addCounterPartyContainer form div div {
    display: flex;
}

.addCounterPartyContainer form div div input,
.addCounterPartyContainer form div div select {
    border-radius: 4px;
    padding: 4px;
    animation: displayFormTags 2s ease 0s 1 normal forwards;
    margin-left: auto;
}

#addCounterPartyBtn {
    align-self: center;
    padding: 12px 32px;
    border-radius: 8px;
    margin-top: 50px;
    border: none;
    background-color: #9ABED8;
    color: white;
}

#addCounterPartyBtn:hover {
    animation: addCounterPartyShake 2s ease 0s 1 normal forwards;
}

@keyframes addCounterPartyShake {
    0%, 100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%, 40%, 60% {
        transform: rotate(-4deg);
    }

    30%, 50%, 70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

@keyframes displayFormTags {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/* Product */

.viewContainer {
    padding: 3em;
    border-radius: 14px;
    background: hsla(346, 62%, 51%, 1);
    background: linear-gradient(270deg, hsla(346, 62%, 51%, 1) 0%, hsla(326, 74%, 40%, 1) 92%);
    background: -moz-linear-gradient(270deg, hsla(346, 62%, 51%, 1) 0%, hsla(326, 74%, 40%, 1) 92%);
    background: -webkit-linear-gradient(270deg, hsla(346, 62%, 51%, 1) 0%, hsla(326, 74%, 40%, 1) 92%);
    -webkit-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.viewContainer a:hover{
    color: black;
}

.paginatorList {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.paginatorLi {
    background-color: white;
    border: 1px solid black;
    border-right: none;
    cursor: pointer;
    height: 2.4em;
    text-align: center;
    vertical-align: middle;
    line-height: 2;
}

.paginatorLi:first-child {
    border-left: 1px solid black;
}

.paginatorA {
    text-decoration: none;
    color: black;
    padding: 1.2em;
}

#paginatorFirst a,
#paginatorLast a,
#paginatorNext a,
#paginatorPrevious a {
    color: #E7F9FF;
    font-weight: 500;
}

.paginatorLi:hover {
    background-color: #C1C3C4;
}

.active {
    background-color: #ba003c;
}

.active a{
    color: white;
}

.active:hover{
    background-color: #8f183e;
}

.active a:hover{
    color:white;
}

#paginatorFirst,
#paginatorLast {
    background-color: #6495ed;
}

#paginatorFirst:hover,
#paginatorLast:hover{
    background-color: #4C71B5;
}

#paginatorNext:hover,
#paginatorPrevious:hover {
    background-color: #378BA7;
}

#paginatorNext,
#paginatorPrevious {
    background-color: #54D4FF;
}

#paginatorFirst{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#paginatorLast{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.productsContainer{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-top: 2em;
}

.productContainer {
    background-color: white;
    padding: 1.4em;
    text-align: center;
    border-radius: 12px;
}

.productContainerFirst {
    font-weight: 700;
    color: white;
    background-color: #8f183e;
}

#showAllProductsBtn {
    background-color: #8f183e;
    text-decoration: none;
    color: white;
    border: 1px solid #4d0e22;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    animation: displayButtonsRight 2s ease 0s 1 normal forwards;
}

#showAllProductsBtn:hover{
    background-color: #630f2a;
}

#searchProductBtn {
    padding: 0.2em 0.5em;
    background-color: #ba003c;
    border: 0.01em solid black;
    border-radius: 0.3em;
    color: white;
}

#searchProductBtn:hover{
    background-color: #6E0023;
}

#productDetailsBtn {
    background-color: #B7EBFF;
    text-decoration: none;
    margin: 8px;
    font-size: 1em;
    text-align: center;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    padding: 3px;
}

#productDetailsBtn:hover {
    background-color: #5ED1FF;
}

#productEditBtn {
    background-color: #B7EBFF;
    text-decoration: none;
    margin: 8px;
    font-size: 1em;
    text-align: center;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    padding: 3px;
}

#productEditBtn:hover{
    background-color: #5ED1FF;
}

#productDeleteBtn {
    background-color: #B7EBFF;
    text-decoration: none;
    margin: 8px;
    font-size: 1em;
    text-align: center;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    padding: 3px;
}

#productDeleteBtn:hover{
    background-color: #5ED1FF;
}

.addProductContainer {
    background: hsla(50, 87%, 85%, 1);
    background: linear-gradient(270deg, hsla(50, 87%, 85%, 1) 0%, hsla(49, 82%, 74%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(50, 87%, 85%, 1) 0%, hsla(49, 82%, 74%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(50, 87%, 85%, 1) 0%, hsla(49, 82%, 74%, 1) 100%);
    padding: 24px;
    border-radius: 12px;
    height: 100%;
    margin-top: 4.809%;
    -webkit-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
}

.addProductContainer form {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 4px;
    text-align: right;
}

.addProductContainer span {
    color: #c90016;
    text-align: center;
    margin-top: 12px;
}

.addProductContainer form div div {
    display: flex;
}

.addProductContainer form div div input,
.addProductContainer form div div textarea,
.addProductContainer form div div select {
    border-radius: 4px;
    padding: 4px;
    animation: displayProductFormTags 2s ease 0s 1 normal forwards;
    margin-left: auto;
    border: 2px solid black;
    width: 20em;
}

#addProductBtn {
    align-self: center;
    padding: 12px 32px;
    border-radius: 8px;
    margin-top: 50px;
    border: none;
    background-color: #efcc00;
    color: white;
}

#addProductBtn:hover {
    animation: addProductShake 2s ease 0s 1 normal forwards;
}

@keyframes addProductShake {
    0%, 100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%, 40%, 60% {
        transform: rotate(-4deg);
    }

    30%, 50%, 70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

@keyframes displayProductFormTags {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.productDetailsContainer {
    background: hsla(285, 100%, 50%, 1);
    background: linear-gradient(270deg, hsla(285, 100%, 50%, 1) 0%, hsla(285, 100%, 38%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(285, 100%, 50%, 1) 0%, hsla(285, 100%, 38%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(285, 100%, 50%, 1) 0%, hsla(285, 100%, 38%, 1) 100%);
    -webkit-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    border-radius: 12px;
    padding: 2em;
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.productDetailsContainer .productDetailsDiv {
    display: flex;
    margin: 3em;
    background-color: #f0c2ff;
    padding: 0.4em;
    font-family: "Capriola", sans-serif;
    border-radius: 8px;
}

.productDetailsContainer div label{
    font-size: 1.4em;
    font-weight: bold;
}

.productDetailsContainer div h4{
    margin-left: auto;
}

.productDetailsContainer div p{
    margin-left: auto;
    font-size: 1.4em;
    font-weight: 600;
}

.productDetailsContainer div div {
    margin: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

#detailsProductBtns {
    margin: auto;
    display: flex;
    justify-content: center;
}

#backToAllProductsBtn,
#homePageInProductsBtn {
    border-radius: 8px;
    background-color: #e6daeb;
    text-decoration: none;
    padding: 1em;
    margin: 1em;
    border: 1px solid black;
    color: #ca37fa;
    font-weight: 500;
}

#backToAllProductsBtn:hover,
#homePageInProductsBtn:hover{
    background-color: purple;
    color: white;
}

.editProductContainer {
    background: hsla(50, 87%, 85%, 1);
    background: linear-gradient(270deg, hsla(50, 87%, 85%, 1) 0%, hsla(49, 82%, 74%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(50, 87%, 85%, 1) 0%, hsla(49, 82%, 74%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(50, 87%, 85%, 1) 0%, hsla(49, 82%, 74%, 1) 100%);
    padding: 24px;
    border-radius: 12px;
    height: 100%;
    margin-top: 4.809%;
    -webkit-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
}

.editProductContainer form {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 4px;
    text-align: right;
}

.editProductContainer span {
    color: #c90016;
    text-align: center;
    margin-top: 12px;
}

.editProductContainer form div div {
    display: flex;
}

.editProductContainer form div div input,
.editProductContainer form div div textarea,
.editProductContainer form div div select {
    border-radius: 4px;
    padding: 4px;
    animation: displayProductFormTags 2s ease 0s 1 normal forwards;
    margin-left: auto;
    border: 2px solid black;
    width: 20em;
}

.editProductContainer .productDescriptionDiv div input{
    height: 2em;
}

#editProductBtn {
    align-self: center;
    padding: 12px 32px;
    border-radius: 8px;
    margin-top: 50px;
    border: none;
    background-color: #efcc00;
    color: white;
}

#editProductBtn:hover {
    animation: editProductShake 2s ease 0s 1 normal forwards;
}

@keyframes editProductShake {
    0%, 100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%, 40%, 60% {
        transform: rotate(-4deg);
    }

    30%, 50%, 70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

@keyframes displayProductFormTags {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/* Firm */

.addFirmContainer {
    background: hsla(118, 70%, 76%, 1);
    background: linear-gradient(270deg, hsla(118, 70%, 76%, 1) 0%, hsla(118, 45%, 67%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(118, 70%, 76%, 1) 0%, hsla(118, 45%, 67%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(118, 70%, 76%, 1) 0%, hsla(118, 45%, 67%, 1) 100%);
    padding: 24px;
    border-radius: 12px;
    height: 100%;
    margin-top: 4.809%;
    -webkit-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
}

.addFirmContainer form {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 4px;
    text-align: right;
}

.addFirmContainer span {
    color: #c90016;
    text-align: center;
    margin-top: 12px;
}

.addFirmContainer form div div {
    display: flex;
}

.addFirmContainer form div div input,
.addFirmContainer form div div select {
    border-radius: 4px;
    padding: 4px;
    animation: displayFirmFormTags 2s ease 0s 1 normal forwards;
    margin-left: auto;
}

#addFirmBtn {
    align-self: center;
    padding: 12px 32px;
    border-radius: 8px;
    margin-top: 50px;
    border: none;
    background-color: #2e8b57;
    color: white;
}

#addFirmBtn:hover {
    animation: addFirmShake 2s ease 0s 1 normal forwards;
}

@keyframes addFirmShake {
    0%, 100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%, 40%, 60% {
        transform: rotate(-4deg);
    }

    30%, 50%, 70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

@keyframes displayFirmFormTags {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/* Bank */

.addBankContainer {
    background: hsla(29, 100%, 84%, 1);
    background: linear-gradient(270deg, hsla(29, 100%, 84%, 1) 0%, hsla(29, 86%, 72%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(29, 100%, 84%, 1) 0%, hsla(29, 86%, 72%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(29, 100%, 84%, 1) 0%, hsla(29, 86%, 72%, 1) 100%);
    padding: 24px;
    border-radius: 12px;
    height: 100%;
    margin-top: 4.809%;
    -webkit-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
    box-shadow: 1px 5px 39px -1px rgba(0,0,0,0.51);
}

.addBankContainer form {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 4px;
    text-align: right;
}

.addBankContainer span {
    color: #c90016;
    text-align: center;
    margin-top: 12px;
}

.addBankContainer form div div {
    display: flex;
}

.addBankContainer form div div input,
.addBankContainer form div div select {
    border-radius: 4px;
    padding: 4px;
    animation: displayBankFormTags 2s ease 0s 1 normal forwards;
    margin-left: auto;
}

#addBankBtn {
    align-self: center;
    padding: 12px 32px;
    border-radius: 8px;
    margin-top: 50px;
    border: none;
    background-color: #ff8c00;
    color: white;
}

#addBankBtn:hover {
    animation: addBankShake 2s ease 0s 1 normal forwards;
}

@keyframes addBankShake {
    0%, 100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%, 40%, 60% {
        transform: rotate(-4deg);
    }

    30%, 50%, 70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

@keyframes displayBankFormTags {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}