@model ItemGroupFormModel

@{
    ViewBag.Title = "Edit item group";
}

<div class="editItemGroupContainer">
    <form asp-action="Edit" asp-controller="ItemGroup" id="editItemGroupForm">
        <div>
            <div>
                <label asp-for="Name">Item group name</label>
                <input asp-for="Name" value="@Model.Name" />
            </div>
            <span asp-validation-for="Name"></span>
        </div>

        <button type="submit" id="editItemGroupBtn">Edit item group</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}