@model ProductOperationModel

@{
    ViewBag.Title = "Add product to operation";
}

<div>
    <form
        id="addProductToOperationForm"
        asp-action="AddProductToOperationPost"
        asp-controller="Operation"
        method="post">

        <div>
            <div>
                <label asp-for="Id">Select product</label>
                <select asp-for="Id">
                    <option disabled selected value="">Select product...</option>
                    @foreach (ProductDetailsViewModel product in Model.Products)
                    {
                        <option value="@product.Id">@product.NomenclatureNumber @product.Name</option>
                    }
                </select>
            </div>
            <span asp-validation-for="Id"></span>
        </div>

        <div>
            <div>
                <label asp-for="Quantity">Product quantity</label>
                <input asp-for="Quantity" />
            </div>
            <span asp-validation-for="Quantity"></span>
        </div>

        <button type="submit" id="addProductToOperationSubmitBtn">Add product</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

