@{
    ViewBag.Title = "Added operation";
}

<div class="successfullyAddedOperationContainer">
    <p>Operation successfully added to your operations!</p>
    <a asp-controller="Home" asp-action="Index">Back to home page</a>
</div>
