@{
    ViewBag.Title = "Error occured";
}

<link rel="stylesheet" href="~/css/errors.css" />

<div id="error403">
    Ooops! It seems that you do not have access to do that operation! Try again!
</div>

