@{
    ViewBag.Title = "Error occured";
}

<link rel="stylesheet" href="~/css/errors.css" />

<div id="error404">
    Ooops! It seems that the resource you are trying to find has not been found! Try again!
</div>
