@{
    ViewData["Title"] = "Home Page";
}
AAA
<div id="react-root"></div>
<script src="./js//marketvault/node_modules/react/index.js"></script>
<script src="./js//marketvault/node_modules/react-dom/index.js"></script>
<script src="./js/marketvault/build/static/js/main.04f9a626.js"></script>
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="./js/marketvault//src/Components/MyComponent.jsx"></script>
<script>
    ReactDOM.render(
        React.createElement(MyComponent),
        document.getElementById('react-root')
    );
</script>