@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/welcome.css" asp-append-version="true" />

<div class="welcomeContainer">
    <section class="section1">
        Welcome to MarketVault – your ultimate solution for 
        streamlining supermarket operations and maximizing efficiency! 
        With MarketVault, you can 
        effortlessly manage counter parties, track products, 
        manage and edit banks and firms, and generate insightful reports,
        all in one intuitive platform.
    </section>

    <section class="section2">
        Say goodbye to tedious paperwork and manual data entry – 
        our user-friendly interface empowers you to create and manage products with ease. 
        Whether you're following your products or handling deliver orders, 
        MarketVault simplifies the entire invoicing process, saving you time
        and reducing errors.
    </section>

    <a class="welcomeBtn" asp-controller="Product" asp-action="All">Let's go!</a>
</div>