@model CounterPartyFormModel

@{
    ViewBag.Title = "Add counter party";
}

<div class="addCounterPartyContainer">
    <form asp-action="Add" asp-controller="CounterParty" id="addCounterPartyForm">
        <div>
            <div>
                <label asp-for="Name">Counter party name</label>
                <input asp-for="Name" />
            </div>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <div>
                <label asp-for="VATNumber">Counter party VAT number</label>
                <input asp-for="VATNumber" />
            </div>
            <span asp-validation-for="VATNumber"></span>
        </div>
        <div>
            <div>
                <label asp-for="ValueAddedTaxLawId">Counter party value added tax law id</label>
                <input asp-for="ValueAddedTaxLawId" />
            </div>
            <span asp-validation-for="ValueAddedTaxLawId"></span>
        </div>
        <div>
            <div>
                <label asp-for="BankIBAN">Counter party bank IBAN</label>
                <input asp-for="BankIBAN" />
            </div>
            <span asp-validation-for="BankIBAN"></span>
        </div>
        <div>
            <div>
                <label asp-for="BankCode">Counter party bank code</label>
                <input asp-for="BankCode" />
            </div>
            <span asp-validation-for="BankCode"></span>
        </div>
        <div>
            <div>
                <label asp-for="BankId">Select bank</label>
                <select asp-for="BankId">
                    <option disabled selected value="">Select Bank...</option>
                    @foreach (BankViewModel bank in Model.Banks)
                    {
                        string bankName = bank.Name + " " +
                        bank.TownName + " " + bank.StreetName + " " + bank.StreetNumber;

                        <option value="@bank.Id">@bankName</option>
                    }
                </select>
            </div>
            <span asp-validation-for="BankId"></span>
        </div>
        <div>
            <div>
                <label asp-for="FirmId">Select firm</label>
                <select asp-for="FirmId">
                    <option disabled selected value="">Select Firm...</option>
                    @foreach (FirmViewModel firm in Model.Firms)
                    {
                        string firmName = firm.Name + " " +
                        firm.TownName + " " + firm.StreetName + " " + firm.StreetNumber;

                        <option value="@firm.Id">@firmName</option>
                    }
                </select>
            </div>
            <span asp-validation-for="FirmId"></span>
        </div>
        <button type="submit" id="addCounterPartyBtn">Add Counter party</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}