@model AddressFormModel

@{
    ViewBag.Title = "Add address";
}

<link rel="stylesheet" href="~/css/nomenclatures..css" />

<div class="addAddressContainer">
    <form asp-action="Add" asp-controller="Address" id="addAddressForm">
        <div>
            <div>
                <label asp-for="TownName"> Address town name</label>
                <input asp-for="TownName" />
            </div>
            <span asp-validation-for="TownName"></span>
        </div>
        <div>
            <div>
                <label asp-for="StreetName"> Address street name</label>
                <input asp-for="StreetName" />
            </div>
            <span asp-validation-for="StreetName"></span>
        </div>
        <div>
            <div>
                <label asp-for="StreetNumber"> Address street number</label>
                <input asp-for="StreetNumber" />
            </div>
            <span asp-validation-for="StreetNumber"></span>
        </div>

        <button type="submit" id="addAddressBtn">Add Address</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}