@model AddressDeleteFormModel

@{
    ViewBag.Title = "Delete product";
}

<div class="deleteAddressContainer">
    <form asp-action="Delete"
          asp-controller="Address"
          id="deleteAddressForm"
          method="post"
          asp-route-id="@Model.Id">
        <div class="deleteAddressInfoContainer">
            <label asp-for="TownName">Address town name</label>
            <h4>@Model.TownName</h4>
        </div>
        <div class="deleteAddressInfoContainer">
            <label asp-for="StreetName">Address street name</label>
            <h4>@Model.StreetName</h4>
        </div>
        <div class="deleteAddressInfoContainer">
            <label asp-for="StreetNumber">Address street number</label>
            <h4>@Model.StreetNumber</h4>
        </div>

        <p class="areYouSureMessage">
            Are you sure you want to remove address? Keep in mind that deleting it will
            also delete related banks, firms and counter parties. If no,
            <a asp-action="All" asp-controller="Address">back to all addresses</a>
        </p>

        <div class="submitAddressDeleteBtnContainer">
            <button type="submit">Delete Address</button>
        </div>
    </form>
</div>